$main-dark-bg: #060615;
$main-dark-text: #fffdf8;
$secondary-dark-bg: #060b2e;
$secondary-dark-text: #808080;

$dark-text-3: #4b4b4b;
$dark-text-4: #383838;
$dark-text-5: #161616;
$dark-text-6: #080808;

// pallete
$blue-1: #060615;
$blue-2: #0a1656;
$blue-3: #003f4a;
$blue-4: #0093dd;
$blue-5: #07eee4;

$highlight: #a020f0;

$highlight-2: #570987;
$highlight-3: #7d0dc3;
$highlight-4: #b95cf4;
$highlight-5: #d397f8;

$main-dark-text-hsl: hsl(43 100% 99%);
$main-dark-text-hsl-dark: hsl(43 100% 99% / 0.55);
$main-dark-text-hsl-darker: hsl(43 100% 99% / 0.35);

:root {
  --success: #00b74c;
  --warning: #ff9100;
  --error: #ff5252;
}
