@use '_animations' as *;
@use '_colors' as *;
@use '_sizes' as *;
@use '_typography' as *;
@use '_shadows' as *;

:root {
  --lr-side-space: clamp(1rem, 5vw, 4rem);
}

/**
* tooltip
*/

.v-popper--theme-tooltip {
  z-index: 999 !important;
  .v-popper__inner {
    background-color: rgba($dark-text-4, 1) !important;
    // box-shadow: $box-shadow-elevation-2;
    padding: 10px 12px 8px !important;
  }
}

/**
* scrollbar
*/
.hide-scrollbar {
  /* HIDE SCROLLBAR */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; // /* Firefox */

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome mobile
  }
}

// if scrollbar is shown, it's like this:
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight-2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $highlight-3;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

/**
* buttons
*/
.main-hover-button {
  transition: color 0.3s $default-ease;
  &:hover {
    color: $highlight-3;
  }
}

.simple-action-button {
  border-radius: 50%;
  transition: scale 0.3s $default-ease, color, 0.3s $default-ease;
  cursor: none;
  color: $main-dark-text-hsl-darker;

  &:hover {
    color: $main-dark-text;
    scale: 1.2;
  }
  > * {
    pointer-events: none; // for lr-cursor;
  }
}

/**
* forms
*/
.lr-form-container {
  color: $main-dark-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;

  .container {
    border: 1px solid $dark-text-3;
    background-color: $main-dark-bg;
    box-shadow: $box-shadow-elevation-1;
    max-width: fit-content;
    padding: 48px 32px;
    border-radius: 12px;
    min-width: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 12px;
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    text-align: center;
    font-size: 14px;
  }
}

.lr-text-input {
  background-color: $main-dark-text;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  padding: 12px;
  color: $main-dark-bg;
  display: flex;
  align-items: center;

  &:disabled,
  &.disabled {
    background-color: $secondary-dark-text;
  }
}

@media (max-width: $sm-breakpoint) {
  .lr-form-container .container {
    min-width: 334px;
  }
}

/**
  * layouts
*/
.lr-safe-pointer-events-none {
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.lr-section,
.lr-section-bottom,
.lr-section-page,
.lr-section-page-paddings {
  width: 100svw; // ? keep in mind that this will bring problems if we show the scrollbar that we are hidding: https://polypane.app/blog/strategies-for-dealing-with-horizontal-overflows/
  max-width: 3450px;
}

.lr-section-page,
.lr-section-page-paddings {
  padding-inline: var(--lr-side-space);
}

.lr-section,
.lr-section-bottom {
  padding-top: 2rem;

  padding-inline: var(--lr-side-space);
}

.lr-section-page {
  // svg handles mobile problem that 100vh
  // actually considers the navigation bar
  height: 100svh;

  &-no-paddings {
    padding: 0;
    padding-inline: 0 !important;
  }
}

.lr-section-bottom {
  padding-top: 0;
  padding-bottom: 3rem;
}

.lr-anchor {
  text-decoration: underline;
  cursor: none;
}

@media (min-width: $lg-breakpoint) {
  .lr-section-page,
  .lr-section-page-paddings {
    --lr-side-space: clamp(12rem, 9vw, 16rem);
  }
}

/**
* others
*/
.wrapper-default-generals-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .bold {
    color: $highlight;
  }

  h1 {
    @extend .section-h1;
  }
  p {
    font-size: clamp(1.8rem, 4.3vw, 12rem);
    line-height: clamp(2.35rem, 4.5vw, 13rem);
    letter-spacing: clamp(0.1rem, 0.3vh, 0.3rem);
  }
}
