$main-dark-bg: #060615;
$main-dark-text: #fffdf8;
$secoundary-dark-bg: #0a1656;

// pallete
$blue-1: #060615;
$blue-2: #0a1656;
$blue-3: #00343d;
$blue-4: #0093dd;
$blue-5: #07eee4;

$highlight: #a020f0;

$highlight-2: #570987;
$highlight-3: #7d0dc3;
$highlight-4: #b95cf4;
$hightlight-5: #d397f8;
