$main-dark-bg: #060615;
$main-dark-text: #fffdf8;
$secoundary-dark-bg: #060b2e;
$secoundary-dark-text: #808080;

// pallete
$blue-1: #060615;
$blue-2: #0a1656;
$blue-3: #003f4a;
$blue-4: #0093dd;
$blue-5: #07eee4;

$highlight: #a020f0;

$highlight-2: #570987;
$highlight-3: #7d0dc3;
$highlight-4: #b95cf4;
$hightlight-5: #d397f8;

$main-dark-text-hsl: hsl(43 100% 99%);
$main-dark-text-hsl-angle: 43;
$main-dark-text-hsl-saturation: 100%;
$main-dark-text-hsl-lightness: 99%;
$main-dark-text-hsl-dark: hsl(
  #{$main-dark-text-hsl-angle} #{$main-dark-text-hsl-saturation} #{$main-dark-text-hsl-lightness} / 0.55
);
$main-dark-text-hsl-darker: hsl(
  #{$main-dark-text-hsl-angle} #{$main-dark-text-hsl-saturation} #{$main-dark-text-hsl-lightness} / 0.35
);
