$main-dark-bg: #060615;
$main-dark-text: #fffdf8;
$secoundary-dark-bg: #0a1656;

// pallete
$blue-1: #060615;
$blue-2: #0a1656;
$blue-3: #00343d;
$blue-4: #0093dd;
$blue-5: #07eee4;

// todo set contrast color
// $pink-1: #c5005f;
$pink-1: #b70058;
