:root {
  --lr-side-space: clamp(1rem, 5vw, 4rem);
}

.hide-scrollbar {
  /* HIDE SCROLLBAR */
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none; // Safari and Chrome mobile
  }
}
/**
* buttons
*/
.main-hover-button {
  transition: color 0.3s $default-ease;
  &:hover {
    color: $highlight-3;
  }
}

.simple-action-button {
  border-radius: 50%;
  transition: scale 0.3s $default-ease, color, 0.3s $default-ease;
  cursor: none;
  color: $main-dark-text-hsl-darker;

  &:hover {
    color: $main-dark-text;
    scale: 1.2;
  }
  > * {
    pointer-events: none; // for lr-cursor;
  }
}

.wrapper-default-generals-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .bold {
    color: $highlight;
  }

  h1 {
    @extend .section-h1;
  }
  p {
    font-size: clamp(1.8rem, 4.3vw, 12rem);
    line-height: clamp(2.35rem, 4.5vw, 13rem);
    letter-spacing: clamp(0.1rem, 0.3vh, 0.3rem);
  }
}
/**
  * layouts
  */

.lr-safe-pointer-events-none {
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.lr-section,
.lr-section-bottom,
.lr-section-page,
.lr-section-page-paddings {
  width: 100vw;
  max-width: 3450px;
}

.lr-section-page,
.lr-section-page-paddings {
  padding-inline: var(--lr-side-space);
}

.lr-section,
.lr-section-bottom {
  padding-top: 2rem;

  padding-inline: var(--lr-side-space);
}

.lr-section-page {
  // svg handles mobile problem that 100vh
  // actually considers the navigation bar
  height: 100svh;

  &-no-paddings {
    padding: 0;
    padding-inline: 0 !important;
  }
}

.lr-section-bottom {
  padding-top: 0;
  padding-bottom: 3rem;
}

@media (min-width: $lg-breakpoint) {
  .lr-section-page,
  .lr-section-page-paddings {
    --lr-side-space: clamp(12rem, 9vw, 16rem);
  }
}
