/**
* buttons
*/
.main-hover-button {
  &:hover {
    color: $highlight-3;
    transition: color 0.3s ease-in-out;
  }
}

/**
  * wrappers and sections
  */
.section-h1 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 300;
  text-transform: uppercase;
}

.wrapper-default-generals-text {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .bold {
    color: $highlight;
  }

  h1 {
    @extend .section-h1;
  }
  p {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    > * {
      display: inline !important;
    }
  }
}
/**
  * layouts
  */

.lr-safe-pointer-events-none {
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.lr-section,
.lr-section-page,
.lr-section-bottom,
.lr-section-page-paddings {
  padding: 1rem;
  &-no-paddings {
    padding-right: 0;
    padding-left: 0;
  }
}

.lr-section-page {
  height: 100vh;
}

.lr-section-bottom {
  padding-top: 0;
}

@media (min-width: $lg-breakpoint) {
  /**
    * wrappers
    */
  .wrapper-default-generals-text {
    p {
      font-size: min(4vw, 6rem);
      line-height: min(4vw, 6rem);
      letter-spacing: 0.3rem;
    }
  }

  /**
    * sections
    */
  .lr-section,
  .lr-section-bottom {
    padding-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    max-width: 3450px;
  }

  .lr-section-page,
  .lr-section-page-paddings {
    padding-right: 11rem;
    padding-left: 12rem;
    width: 100vw;
    max-width: 3450px;
    &-no-paddings {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .lr-section-bottom {
    padding-top: 0;
    padding-bottom: 3rem;
  }
}
