/* this file is the default file where @nuxtjs/tailwindcss looks for configuration. If you want to create new stuff, do it here */
/* it also works as a global css file, so you can add your own css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* example: remove below if not needed */

@layer components {
  :root {
    /* colors */
    --main-dark-text: #fffdf8;
    --main-dark-bg: #060615;
    --secondary-dark-text: #808080;

    --dark-text-4: #383838;

    /* animations */
    --default-ease: cubic-bezier(0.49, 0.225, 0.175, 0.86);
  }

  .lr-button {
    @apply text-[var(--main-dark-bg)] py-2 px-4 rounded border border-[var(--main-dark-text)] bg-[var(--main-dark-text)];
    color: var(--main-dark-bg);
    transition: all 0.3s var(--default-ease);
    cursor: none;
  }

  .lr-button-secondary {
    background-color: var(--main-dark-bg);
    color: var(--main-dark-text);
  }

  .lr-button:disabled,
  .lr-button[disabled] {
    background-color: var(--secondary-dark-text);
    border-color: var(--secondary-dark-text);
    color: var(--dark-text-4);
    cursor: not-allowed;
  }

  .lr-button-secondary:disabled,
  .lr-button-secondary[disabled] {
    border-color: var(--dark-text-4);
    background-color: var(--main-dark-bg);
  }

  .lr-button-secondary:not(:disabled):not([disabled]):active {
    background-color: var(--secondary-dark-text);
    border-color: var(--secondary-dark-text);
  }

  .lr-button-secondary:not(:disabled):not([disabled]):active {
    background-color: var(--main-dark-bg);
    color: var(--secondary-dark-text);
  }
}
