/**
  * wrappers and sections
  */
.section-h1 {
  font-size: clamp(1.3rem, 1.8vw, 5rem);
  line-height: clamp(1.9rem, 2.8vw, 6.5rem);
  letter-spacing: clamp(0.1rem, 1.5vh, 8rem);
  font-weight: 500;

  text-transform: uppercase;
  margin-bottom: clamp(1.2rem, 2.9vw, 5rem);
}

.lr-text--label-1 {
  font-size: clamp(0.8rem, 1.3vw, 1.5rem);
  line-height: clamp(1.2rem, 2vw, 2.5rem);
}

.lr-text--label-2 {
  font-size: clamp(0.8rem, 1.5vw, 1.7rem);
  line-height: clamp(1.2rem, 2vw, 2.5rem);
  letter-spacing: clamp(0.2rem, 1vw, 0.3rem);
}

.lr-text--body-1 {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  line-height: clamp(1.7rem, 2vw, 3rem);
}

.lr-text--body-1-half {
  font-size: clamp(1rem, 1.7vw, 4rem);
  line-height: clamp(1rem, 1.7vw, 4rem);
}

.lr-text--body-2 {
  font-size: clamp(1.2rem, 2.5vw, 6rem);
  line-height: clamp(1.5rem, 3.6vw, 8rem);
  letter-spacing: clamp(0.1rem, 0.3vh, 0.3rem);
}

.lr-text--body-3 {
  font-size: clamp(2rem, 7vw, 9rem);
  line-height: clamp(2.5rem, 6vw, 9.5rem);
}
